<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <ul>
            <li><a href="/stories"><i class="fa-solid fa-book"></i>&nbsp; Public Recipes</a></li>
            <li><a href="/dashboard"><i class="fa-solid fa-bookmark"></i>&nbsp; Dashboard</a></li>
        </ul>
        <a href="/stories" class="brand-logo center">Savory</a>
        <ul class="right">
            <li><a href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</a></li>
        </ul>
    </div>
</nav>