<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <script
      src="https://kit.fontawesome.com/6b91c031fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="row">
      <h3 class="default-title">Add Recipe:</h3>
      <form action="/stories" method="POST" class="col s12">
        <div class="row">
          <div class="input-field">
            <input type="text" id="title" name="title" />
            <label for="title">Title</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <select name="status" id="status">
              <option value="public" selected>Public</option>
              <option value="private">Private</option>
            </select>
            <label for="status">Status</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <h5 class="instructions">Instructions:</h5>
            <textarea name="body" id="body"></textarea>
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Save" class="btn" />
          <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>